@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;  
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-size: initial;
  }
}

@layer components {
  .link {
    @apply text-blue-500 hover:underline font-medium;
  }
}
