@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;  
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-size: initial;
  }
}

@layer components {
  .link {
    @apply text-blue-500 hover:underline font-medium;
  }
  

}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}
body::-webkit-scrollbar-track:hover {
  background: #eee;
}


 .scroller::-webkit-scrollbar {
   width: 5px;
  
  }

.scroller::-webkit-scrollbar-thumb {
  background: white;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128, 0.4);
 
}